 :root {
     --clr-dark: #0f172a;
     --clr-light: #f1f5f9;
     --clr-accent: #e11d48;
 }

 *,
 *::after,
 *::after {
     box-sizing: border-box;
 }

 body {
     margin: 0;
     padding: 0;
     line-height: 2;
     word-spacing: 4px;
     font-family: 'Helvetica Neue';
     color: var(--clr-dark);
     background-color: var(--clr-light);
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }

 .item {
     width: 150px;
     height: 150px;
     background-color: #fb7185;
     padding: 1em;
     font-weight: 700;
     color: var(--clr-accent);
 }